<section>
  <form #buscarform="ngForm" (change)="buscar()">
    <div id="barraBusqueda">
      <img src="../../../assets/icons/lupa.svg" alt="">
      <input type="text" name="texto" [(ngModel)]="parametrosBusqueda.texto">
    </div>

    <div id="filtrosContainer">
      <div class="aptoContainer">
        <img src="../../../assets/icons/celiaco.png" alt="Apto Celíaco">
        <input type="checkbox" name="celiaco" id="celiaco" [(ngModel)]="parametrosBusqueda.aptoCeliaco">
        <span>Apto celíaco</span>
      </div>
      <div class="aptoContainer">
        <img src="../../../assets/icons/vegano.svg" alt="Apto Vegano">
        <input type="checkbox" name="vegano" id="vegano" [(ngModel)]="parametrosBusqueda.aptoVegano">
        <span>Apto vegano</span>
      </div>
    </div>
  </form>
  @defer (when !cargando()) {

  @if (productos().length !== 0) {
  <div id="contaniner-productos">
    @for (producto of productos(); track producto) {
    <app-tarjeta-producto [producto]="producto" [routerLink]="['/articulo', producto.id]">
    </app-tarjeta-producto>
    }
  </div>
  } @else {
  <h2>Tu búsqueda no arrojó ningún resultado</h2>
  }
  } @loading (minimum 500ms) {
  <div class="flexCenter">
    <img src="../../../assets/icons/spinner.svg" alt="Cargando">
  </div>
  }
</section>
