<div>
  <img id="fotoProducto" src="{{producto?.fotoUrl}}" alt="{{producto?.nombre}}">
</div>
<section class="margenChico">
  <ul>
    @if (producto?.ingredientes != '') {
    <span>Ingredientes: </span>
    @for (ingrediente of producto?.ingredientes; track ingrediente) {
    <li>{{ingrediente}}</li>
    }
    }
  </ul>

  <div>
    @if (producto?.esCeliaco) {
    <div class="aptoContainer">
      <img class="apto" src="../../../assets/icons/celiaco.png" alt="Apto Celíaco">
      <p>Apto Celíaco</p>
    </div>
    }

    @if (producto?.esVegano) {
    <div class="aptoContainer">
      <img class="apto" src="../../../assets/icons/vegano.svg" alt="Apto Vegano">
      <p>Apto Vegano</p>
    </div>
    }
  </div>
  <label for="notas">Notas: </label>
  <textarea [(ngModel)]="notas" name="notas" id="notas" cols="30" rows="10"></textarea>

  <div id="cantidadContainer">
    <label for="cantidad">Cantidad: </label>
    <app-contador-cantidad (cantidadCambiada)="cantidad.set($event)">
    </app-contador-cantidad>
  </div>

  <button (click)="agregarAlCarrito()">Agregar al carrito</button>
</section>
